@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  background-image: url("../../public/lg.jpg");
  background-repeat: repeat;
  background-size: 100%;
  font-family: 'Patrick Hand', cursive;
}
