@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  background-image: url("https://cap.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fcap.2F2017.2F05.2F10.2F6b7b11a5-b337-4ba6-a65b-71697e7f5d92.2Ejpeg/1200x630/background-color/ffffff/quality/70/cr/wqkgVG91cyBkcm9pdHMgcsOpc2VydsOpcyAvIENBUElUQUw%3D/game-of-thrones-ce-que-cette-serie-culte-nous-apprend-sur-le-pouvoir-en-entreprise-960913.jpg");
  background-repeat: repeat;
  background-size: 100%;
  font-family: 'Patrick Hand', cursive;
}
