.musicSaison3 {
  &-title {
   color: #8b4513;
   font-size: 3.5rem;
   margin: 4rem 5rem;
   padding-top: 3rem;
   border: 2px solid #8b4513;
   border-radius: 1rem;
   margin-right: 1300px;
   text-align: center;
   padding: auto;
   width: 300px;
  }

  &-link {
   color: #deb887 	;
   font-size: 3.5rem;
   margin-left: 550px;
  }
}
