.seasons {
   &-list {
     width: 1800px;
     height: 300px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
   }

   &-items {
     display: flex;
     width: 360px;
     height: 200px;
     background-color: #ffdead;
     border: 1px solid black;
     border-radius: 30px;
     margin: 2rem;
     font-size: 2rem;
     text-align: center;
     font-size: bold;
     padding: 2rem;
     color: #8b0000;
   }

   &-img {
     float: left;
     height: 100%;
     padding-bottom: 5px;
     margin: 0 2rem;
   }

   &-title{
     margin:40px auto;
   }
 }
