.season2 {
  &-title {
    color: #8b4513;
    font-size: 3.5rem;
    margin: 0 5rem;
    padding-top: 3rem;
    border: 2px solid #8b4513;
    border-radius: 1rem;
    margin-right: 1300px;
    text-align: center;
    padding: auto;
  }

  &-button {
    border: 1px solid #8b4513;;
    border-radius: 10px;
    color:#8b4513;
    position: absolute;
    right: 300px;
    top: 150px;
    width: 60px;
    height: 40px;
    padding: 0.5rem;
  }
  
  &-content {
    color:#008080;
    font-size: 1.2rem;
    padding: 2rem 3rem;
    line-height: 1.7rem;
  }

  &-subTitle {
    color: #b22222;
    margin: 1rem 3rem;
    font-size: 1.8rem;
    margin-top: 4rem;
  }

  &-item {
    color:#008080;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 1rem 20rem;
    width: 1200px; 
  }

  &-image {
    float: left;
    width: 15%;
    margin-left: 35px;
  }

  &-img {
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 30px;
     
  }
}

.season2-container {
  background-color: antiquewhite;
  width: 1600px;
  margin: 50px 135px;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

/*******************Mode Mobile ******************/
@media only screen and (max-width: 420px) {
  .season2 {
    &-title {
      color: #8b4513;
      font-size: 1.5rem;
      margin: 0 1rem;
      padding-top: 2rem;
      border: 2px solid #8b4513;
      border-radius: 1rem;
      margin-right: 100px;
      text-align: center;
      padding: auto;
      width: 5.5rem;
    }

    &-button {
      border: 1px solid #8b4513;;
      border-radius: 10px;
      color:#8b4513;
      position: absolute;
      right: 25px;
      top: 90px;
      width: 60px;
      height: 40px;
      padding: 0.5rem;
    }

    &-subTitle {
      color: #b22222;
      margin: 1rem 3rem;
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }

    &-img {
      width: 80px;
      margin-left: -30px;
      margin-top: 0px;
      float: left;
    }

    &-img:nth-child(2) {
    margin: 700px 0 0 -30px; 
    }

    &-img:nth-child(3) {
      margin: 1798px 0 0 -30px; 
    }

    &-img:nth-child(4) {
      margin: 910px 0 0 -30px; 
    }

    &-img:nth-child(5) {
      margin: 1125px 0 0 -30px; 
    }

    &-img:nth-child(6) {
      margin: 720px 0 0 -30px; 
    }

    &-item {
      color:#008080;
      font-size: 1.2rem;
      line-height: 1.2rem;
      margin: 1rem 1.5rem;
      text-align: justify;
      width: 350px; 
    }
  }

  .season2-container {
    background-color: antiquewhite;
    width: 390px;
    margin: 10px 12px;
    padding-top: 1.5rem;
    padding-bottom: 6rem;
  }
}
