.history {
  &-title {
    color: #8b4513;
    font-size: 3.5rem;
    margin: 0 5rem;
    padding-top: 3rem;
    border: 2px solid #8b4513;
    border-radius: 1rem;
    margin-right: 1300px;
    text-align: center;
    padding: auto;
  }
  
  &-content {
    color:#008080;
    font-size: 1.2rem;
    padding: 2rem 3rem;
    line-height: 1.7rem;
  }

  &-subTitle {
    color: #b22222;
    margin: 1rem 3rem;
    font-size: 1.8rem;
    margin-top: 1.5rem;
  }

  &-item {
    color:#008080;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin: 1rem 15rem; 
  }

  &-img {
    width: 10%;
    height: 10%;
    margin-left: 50px;
    float: left;
  }
}

.hystory-container {
  background-color: antiquewhite;
  width: 1600px;
  margin: 50px 135px;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

/*****************Mode Mobile ************************/
@media only screen and (max-width: 420px) {
  .history {
    &-title {
      color: #8b4513;
      font-size: 1.5rem;
      margin: 0 1rem;
      padding-top: 2rem;
      border: 2px solid #8b4513;
      border-radius: 1rem;
      margin-right: 100px;
      text-align: center;
      padding: auto;
      width: 5.5rem;
    }

    &-content {
      color:#008080;
      font-size: 1.2rem;
      padding: 2rem 3rem;
      line-height: 1.7rem;
      text-align: justify;
    }

    &-subTitle {
      color: #b22222;
      margin: 1rem 3rem;
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }

    &-item {
      color:#008080;
      font-size: 1.2rem;
      line-height: 1.2rem;
      margin: 1rem 2rem;
      text-align: justify; 
    }

    &-img {
      width: 20%;
      height: 10%;
      margin-left: 50px;
      margin-right: 1rem;
      float: left;
    }
  }

  .hystory-container {
    background-color: antiquewhite;
    width: 390px;
    margin: 10px 12px;
    padding-top: 1.5rem;
    padding-bottom: 6rem;
  }
  
}
