.houseArrynGen{
  &-title {
    color: #8b4513;
    font-size: 3.5rem;
    margin: 3rem 5rem;
    padding-top: 3rem;
    border: 2px solid #8b4513;
    border-radius: 1rem;
    margin-right: 1300px;
    text-align: center;
    padding: auto;
  }
  
  &-img {
    //position: absolute;
    margin-left: 400px;
    width: 50%;
    
  }
 }
